<header class="r">
    <img src="/logo.webp" alt="Logo" class="header-logo">
    <span class="sr">Menu</span>
    <nav id="header-nav">
        <label id="header-nav-toggle">
            <input type="checkbox">
            <div id="header-nav-icon">
                <span id="header-nav-icon-1"></span>
                <span id="header-nav-icon-2"></span>
                <span id="header-nav-icon-3"></span>
            </div>
        </label>
        {{ $current := . }}
        <ul id="header-nav-list">
            {{ range site.Menus.header.ByWeight.Reverse }}
            <li>
                <a href="{{ .URL }}" {{ if $current.IsMenuCurrent "header" . }} class="active" {{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
